@import "tailwindcss";

@font-face {
  font-family: 'RedHat';
  src: url('./assets/fonts/RedHat.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/Syne.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}